@font-face {
    font-family: 'MyFont';
    src: url("../fonts/ionicons.eot");
    src: url("../fonts/ionicons.woff") format('woff'),
            url("../fonts/ionicons.eot") format('embedded-opentype'),
            url("../fonts/ionicons.svg") format('svg'),
            url("../fonts/ionicons.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}